@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

body , html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #a855f7 !important;
  opacity: 1 !important;
}